body{
    background-color: rgb(2, 158, 197);
    color: black;
}

.header{
    position: top;
    position: sticky;
    color: aliceblue;
    background-color: rgb(54, 0, 202);
}

.base-text{
    background-color: rgba(2, 14, 1, 0.705);
}

p{
    color: rgb(206, 19, 19);
    text-align: center;
}

table{
    border: 1px black;
    border-style: none;
    border-bottom: groove;
}

.list .wepicon img{
    width: 40%;
}

.list{
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.list .wepicon{
    background-color: rgba(240, 255, 255, 0.87);
    padding: 20px;
    border-radius: 20px;
}

.list .wepicon h2{
    display: flex;
    text-align: right;
}

a:link{
    color: lightblue;
}

a:visited{
    color: lightblue;
}

a:hover{
    color: lightcoral;
}