body{
    background-color: rgb(250, 250, 250);
    color: black;
}

.header{
    position: top;
    position: sticky;
    color: aliceblue;
    background-color: rgb(54, 0, 202);
}

.base-text{
    
    
    background-color: rgba(2, 14, 1, 0.705);
}

p{
    color: rgb(206, 19, 19);
    text-align: center;
}

.button-gameplay{
    border: 2px solid gold;
    border-radius: 8px;
    padding: 5px;
}

.button-Again{
    border: 2px solid gold;
    border-radius: 8px;
    padding: 5px;
}

.button-Login{
    border: 2px solid gold;
    border-radius: 8px;
    padding: 5px;
}

table{
    border: 1px black;
    border-style: none;
    border-bottom: groove;
    margin-left: auto;
    margin-right: auto;
}

img{
    object-fit: cover;
    zoom: 1.2;
}